<suite name="learningSuite">
    <!-- Add Allure listener -->
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>


    <test name="Google Test">
        <classes>
            <class name="tests.GoogleTest"/>
        </classes>
    </test>
</suite>
